<% include ../partials/header %>

<div class="form-container row sixteen centered column">
   <form class="ui huge form" action="/lists" method="POST">
      <div class="field">
         <label><i class="plus icon"></i>Add New List</label>
         <input
            type="text"
            name="title"
            placeholder="Type name and press 'Enter'"
            autofocus
         />
      </div>
   </form>
</div>
<% if(lists.length === 0){ %> <% include ../partials/nolist %> <% } else { %>

<div class="ui row divider"></div>

<div class="custom-wrapper-i">
   <div class="custom-container-i state-header" id="active-header">
      <h2 class="ui disabled header">
         <i class="play circle icon"></i> ACTIVE
      </h2>
   </div>
   <% lists.reverse().forEach(function(list){ %>

   <div class="custom-container-i" <% if(list.complete){ %>
      style="order: 2;" <%}%> >
      <a
         class="<% if(moment(Date.now()).diff(list.creationDate,'seconds')<=5){%>
         fa-beat black<%}%> ui card raised<% if(list.complete){ %>complete disabled<%}%>"
         href="/lists/<%= list._id %>"
      >
         <div class="content">
            <div class="header">
               <p></p>
               <p><%= list.title %></p>
               <button class="ui button green">
                  <i class="edit gray icon"></i>Edit
               </button>
               <p></p>
               <p></p>
            </div>
            <!-- prettier-ignore -->
            <div class="meta">
               <em>
                  <% if(!list.complete){ %>
                     updated
                  <% } else { %>
                     archived
                  <% } %>
                  <%= moment(list.modifiedDate).fromNow(); %>
               </em>
            </div>
         </div>
         <div class="extra content">
            <form
               class="hidden"
               id="<%= list._id %>-put"
               action="/lists/<%= list._id %>?_method=PUT"
               method="POST"
            >
               <input
                  type="text"
                  name="complete"
                  value="<%= !list.complete %>"
               />
               <input type="text" name="title" value="<%= list.title %>" />
            </form>
            <button
               class="ui  <% if(list.complete){ %> grey <%} else {%> brown <%}%>  tiny button"
               type="submit"
               form="<%= list._id %>-put"
            >
               <i
                  class="<% if(list.complete){ %> undo <%} else {%> archive  <%}%>  icon link  "
               ></i>
               <% if(!list.complete){ %> Archive <% } else { %> Undo <% } %>
            </button>
            <% if(list.complete){ %>
            <form
               class="hidden"
               id="<%= list._id %>"
               action="/lists/<%= list._id %>?_method=DELETE"
               method="POST"
            ></form>

            <button
               class="ui negative tiny button"
               type="submit"
               form="<%= list._id %>"
            >
               <i class="trash alternate outline link  icon"></i> Delete
            </button>
            <%}%>
         </div>
      </a>
   </div>
   <% }); %> <% if(lists.length !== 0){%>

   <div class="custom-container state-header">
      <div class="ui row divider"></div>
      <h2 class="ui  header disabled"><i class="archive icon"></i>ARCHIVE</h2>
   </div>
   <%}%>
</div>
<%}%> <% include ../partials/footer %>
