<% include ../partials/header %>

<div class="row sixteen centered column">
   <h2>Add New List</h2>
</div>
<div class="form-container row sixteen centered column">
   <form class="ui form" action="/lists" method="POST">
      <div class="field">
         <input
            type="text"
            name="title"
            placeholder="New List Name"
            autofocus
         />
      </div>
      <button class="tiny blue ui button">Submit</button>
   </form>
</div>
<div class="ui row divider"></div>

<div class="custom-wrapper-i">
   <div class="custom-container-i state-header" id="active-header">
      <h2 class="ui block header">
         ACTIVE LISTS
      </h2>
   </div>
   <% lists.forEach(function(list){ %>

   <div class="custom-container-i" <% if(list.complete){ %>
      style="order: 2;" <%}%> >
      <a
         class="ui card <% if(list.complete){ %>complete disabled<%}%>"
         href="/lists/<%= list._id %>"
      >
         <div class="content">
            <div class="header">
               <i class="list alternate outline icon"></i> <%= list.title %>
            </div>
            <!-- prettier-ignore -->
            <div class="meta">
               <em>
                  <% if(!list.complete){ %>
                     updated
                  <% } else { %>
                     completed
                  <% } %>
                  <%= moment(list.modifiedDate).fromNow(); %>
               </em>
            </div>
         </div>
         <div class="extra content">
            <div class="ui two buttons">
               <form
                  class="hidden"
                  id="<%= list._id %>-put"
                  action="/lists/<%= list._id %>?_method=PUT"
                  method="POST"
               >
                  <input
                     type="text"
                     name="complete"
                     value="<%= !list.complete %>"
                  />
                  <input type="text" name="title" value="<%= list.title %>" />
               </form>
               <button
                  class="ui <% if(list.complete){ %> grey <%} else {%> positive <%}%> basic button"
                  type="submit"
                  form="<%= list._id %>-put"
               >
                  <i
                     class="<% if(list.complete){ %> undo <%} else {%> check square outline <%}%>  icon link large fitted"
                  ></i>
               </button>
               <form
                  class="hidden"
                  id="<%= list._id %>"
                  action="/lists/<%= list._id %>?_method=DELETE"
                  method="POST"
               ></form>

               <button
                  class="ui basic negative button"
                  type="submit"
                  form="<%= list._id %>"
               >
                  <i class="trash alternate outline link large fitted icon"></i>
               </button>
            </div>
         </div>
      </a>
   </div>
   <% }); %>
   <div class="custom-container-i state-header" id="">
      <h2 class="ui block header disabled">
         COMPLETED
      </h2>
   </div>
</div>
<% include ../partials/footer %>
