<% include ../partials/header %>

<div class="form-container row sixteen centered column">
   <form
      class="ui huge form"
      action="/lists/<%= list._id %>/todo"
      method="POST"
   >
      <div class="field">
         <label><i class="plus icon"></i>Add New Task</label>
         <input
            type="text"
            name="title"
            placeholder="Type name and press 'Enter'"
            autofocus
         />
      </div>
   </form>
</div>

<% if(list.todos.length === 0){ %> <% include ../partials/nolist %> <% } else
{%>
<div class="ui computer tablet only row divider"></div>
<div class="custom-wrapper">
   <div class="list-header">
      <h2
         data-id="<%= list._id %>"
         data-href="/lists/<%= list._id %>?_method=PUT"
         class="edit"
      >
         <i class="edit outline link icon small grey"></i>
         <em><%= list.title %></em>
      </h2>

      <p>
         <em>
            <% if(!list.complete){ %> created <% } else { %> completed <% } %>
            <%= moment(list.creationDate).fromNow(); %>
         </em>
      </p>
   </div>
   <% list.todos.forEach(function(todo){ %>

   <div class="custom-container" <% if(todo.complete){ %>
      style="order: 2;" <%}%> >
      <div class="input-container">
         <form
            class="hidden"
            id="<%= todo._id %>-put"
            action="/lists/<%= list._id %>/todo/<%= todo._id %>?_method=PUT"
            method="POST"
         >
            <input type="text" name="complete" value="<%= !todo.complete %>" />
            <input type="text" name="title" value="<%= todo.title %>" />
         </form>
         <button
            class="ui <% if(todo.complete){ %> grey <%} else {%> positive <%}%> button"
            type="submit"
            form="<%= todo._id %>-put"
         >
            <i
               class="<% if(todo.complete){ %> undo <%} else {%> check square outline <%}%>  icon link fitted"
            ></i>
         </button>
      </div>
      <div class="edit-container">
         <button
            class="ui button fluid edit <% if(todo.complete){ %>complete disabled<%}%>"
            data-id="<%= todo._id %>"
            data-href="/lists/<%= list._id %>/todo/<%= todo._id %>?_method=PUT"
         >
            <%= todo.title %>
         </button>
      </div>
      <div class="delete-container">
         <form
            class="hidden"
            id="<%= todo._id %>"
            action="/lists/<%= list._id %>/todo/<%= todo._id %>?_method=DELETE"
            method="POST"
         ></form>

         <button
            class="ui negative button"
            type="submit"
            form="<%= todo._id %>"
         >
            <i class="trash alternate outline link  fitted icon"></i>
         </button>
      </div>
   </div>
   <% }); %> <% if(list.todos.length !== 0){%>
   <div class="custom-container state-header">
      <h2 class="ui block header disabled">
         COMPLETED
      </h2>
   </div>
   <%}%>
</div>
<%}%> <% include ../partials/footer %>
