<% include ../partials/header %>

<div class="row sixteen centered column">
   <h2>Add New Task</h2>
</div>
<div class="form-container row sixteen centered column">
   <form class="ui form" action="/lists/<%= list._id %>/todo" method="POST">
      <div class="field">
         <input
            type="text"
            name="title"
            placeholder="Name of New Task"
            autofocus
         />
      </div>
      <button class="tiny blue ui button">Submit</button>
   </form>
</div>
<div class="ui row divider"></div>

<div class="custom-wrapper">
   <h2>
      <%= list.title %>
   </h2>
   <% list.todos.forEach(function(todo){ %>

   <div class="custom-container" <% if(todo.complete){ %>
      style="order: 2;" <%}%> >
      <div class="input-container">
         <form
            class="hidden"
            id="<%= todo._id %>-put"
            action="/lists/<%= list._id %>/todo/<%= todo._id %>?_method=PUT"
            method="POST"
         >
            <input type="text" name="complete" value="<%= !todo.complete %>" />
            <input type="text" name="title" value="<%= todo.title %>" />
         </form>
         <button
            class="ui positive button "
            type="submit"
            form="<%= todo._id %>-put"
         >
            <i class="check square outline icon link large fitted"></i>
         </button>
      </div>
      <div class="edit-container">
         <button
            class="ui button edit <% if(todo.complete){ %>complete disabled<%}%>"
            data-id="<%= todo._id %>"
            data-href="/lists/<%= list._id %>/todo/<%= todo._id %>?_method=PUT"
         >
            <%= todo.title %>
         </button>
      </div>
      <div class="delete-container">
         <form
            class="hidden"
            id="<%= todo._id %>"
            action="/lists/<%= list._id %>/todo/<%= todo._id %>?_method=DELETE"
            method="POST"
         ></form>

         <button
            class="ui negative button"
            type="submit"
            form="<%= todo._id %>"
         >
            <i class="trash alternate outline link large fitted icon"></i>
         </button>
      </div>
   </div>
   <% }); %>
   <div class="custom-container" style="order: 1;">
      <h2>
         COMPLETED
      </h2>
   </div>
</div>
<% include ../partials/footer %>
